global:
  scrape_interval: 15s
  external_labels:
    monitor: 'prometheus'

rule_files:
  - /etc/prometheus/rules.yml

alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - localhost:9093

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node_exporter'
    static_configs:
      - targets: ['localhost:9100']
  
  - job_name: "node"
    ec2_sd_configs:
       - region: us-east-1
         access_key: ACCESS_KEY_ID
         secret_key: SECRET_ACCESS_KEY
         port: 9100
